---
layout: page
title: 关于我
header: about me
group: navigation
index: 5
---
{% include site/setup %}

<div id="Layer1" style="position:absolute; width:100%; height:100%; z-index:-1">    
<img src="image/home_bg.jpg" height="100%" width="100%"/>    
</div>

<div >
	<h1 id="">关于我</h1>
	<hr>
	
	<img src="./image/my_self.png"/>
	
	<hr>
	
	<h2 id="">基本信息</h2>

	<p>&nbsp;&nbsp;&nbsp;姓名：晏博</p>
	<p>&nbsp;&nbsp;&nbsp;职业：软件攻城狮</p>
	<p>&nbsp;&nbsp;&nbsp;爱好：户外、骑行、跑步、羽毛球、露营等</p>

	<hr>
	
	<h2 id="">技能信息</h2>

	<p>&nbsp;&nbsp;&nbsp;Java/Android APP及ROM</p>
	<p>&nbsp;&nbsp;&nbsp;Linux C语言及C高级编程</p>
	<p>&nbsp;&nbsp;&nbsp;Shell Makefile脚本</p>
	<p>&nbsp;&nbsp;&nbsp;硬件电路图及相关知识</p>
	<p>&nbsp;&nbsp;&nbsp;PHP基本技能</p>

	<hr>
	
	<h2 id="_2">联系信息</h2>
	
	<img src="./image/my_qq.png" />
	<p>&nbsp;&nbsp;&nbsp;QQ：373131686</p>
	
	<img src="./image/my_sina.png" />
	<p>&nbsp;&nbsp;&nbsp;Sina微博：工匠若水</p>
	
</div>
<hr>
<br />
<div id="comment-hook"></div>
{% include site/comments %}
