---
layout: page
title: 资源
header: Posts Sources
group: navigation
index: 4
---
{% include site/setup %}

<h1 id="">资源</h1>
	<hr>

<div class="row-fluid typo">
	<h4>Android开发工具：</h4>
	<ul>
	  <li><a href="http://www.android-studio.org/">Android Studio最新国内同步无需翻墙下载</a></li>
	  <li><a href="http://www.eclipse.org/downloads/">Eclipse官方下载</a></li>
	  <li><a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">JDK官方下载</a></li>
	  <br/>
	  <li><a href="http://pixplicity.com/dp-px-converter/">Android在线单位转换</a></li>
	  <li><a href="https://www.buzzingandroid.com/tools/android-layout-finder/">Android Layout Finder</a></li>
	</ul>
	
	<hr>
	<h4>其他优秀高效工具：</h4>
	<ul>
	  <li><a href="https://www.yinxiang.com/">印象笔记</a></li>
	  <li><a href="http://yun.baidu.com/">百度云</a></li>
	</ul>
	
	<hr>
	<h4>优秀技术网站推荐：</h4>
	<ul>
	  <li><a href="http://stackoverflow.com/">Stack Overflow</a></li>
	  <li><a href="http://blog.jobbole.com/">伯乐在线</a></li>
	</ul>
	<hr>
</div>

<br />
<div id="comment-hook"></div>
{% include site/comments %}



