<!DOCTYPE html>
<html lang="cn">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/css/typo.css" rel="stylesheet">
    <link href="/css/solarized.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/datatables-bootstrap.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">

    <!-- javascript files -->
    <script type="text/javascript" src="/js/jquery-2.0.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/js/datatables-bootstrap.js"></script>
    <script type="text/javascript" src="/js/site.js"></script>

    <!-- Le fav and touch icons -->
    <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.site.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.site.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

    <script type="text/javascript">
    </script>

  </head>

  <body id="scroll-pane" data-spy="scroll" data-target="#time-list-nav">
    <div class="wrapper">
      <!-- 导航条 -->
      <div class="nav navbar-nav" id="nav-wrap">
        <div class="navbar-header">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <a class="navbar-brand" href="{{ HOME_PATH }}">
			  <span class="site-title" align="middle"><img src="./image/about_me.png" width="30" height="30" align="middle"/></span>
              <span class="site-author" align="middle"> {{ site.author.name }} </span>
            </a>
            <ul id="nav-menu" class="nav navbar-nav" align="middle">
              {% assign pages_list = site.pages %}
              {% assign group = 'navigation' %}
              {% include site/navigation_list %}
            </ul>
          </div>
          <div class="col-md-2">
          </div>
        </div>
      </div>

      <!-- 正文 -->
      {{ content }}

    </div>
<div class="bshare-custom"><a title="分享到QQ空间" class="bshare-qzone"></a>
<a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
<a title="分享到人人网" class="bshare-renren"></a>
<a title="分享到腾讯微博" class="bshare-qqmb"></a>
<a title="分享到有道笔记" class="bshare-youdaonote"></a>
<a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis">
</a><span class="BSHARE_COUNT bshare-share-count">0</span>
</div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh">
</script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js">
</script>

    {% include site/analytics %}
  </body>
</html>
